.custom-btn {
    background-color: #ff4336;
    // border: 2px solid #ff4336;
    // border-radius: 30px;
    color: #fff;
    font-weight: bold;
  
    padding: 1.2rem 2rem;
    font-weight: bold;
    background: transparent;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    // box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    //   7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  
    z-index: 10;
    cursor: pointer;
    // &:hover {
    //   background-color: $primary-color;
    //   color: #fff;
    // }
    // &:active {
    //   background-color: $primary-color;
    //   color: #fff;
    // }
  }
  .btn-2 {
    width: 30%;
    background: $secondary-color;
    padding: 1.5rem 0;
    border: none;
    border-radius: 0.5rem;
  }
  
  .btn-3 {
    width: auto;
  
    padding: 0.7rem 0.7rem;
  }
  .btn-4 {
    width: auto;
  
    padding: 0.7rem 1rem;
    background-color: #fff;
  }
  // .btn-5 {
  //   width: 8rem;
  //   background-color: $button-colors;
  //   border-radius: 0.1rem;
  //   padding: 0.7rem 0rem;
  //   font-size: 0.9rem;
  //   margin-right: 0.4rem;
  //   border: none;
  // }
  
 
 

  