.Section__TopHeader {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 4rem 0 4rem;
  align-items: center;
 
  & .Contact {
    display: flex;
    align-items: center;

    &__Icon {
      font-size: 2rem;
      margin: 0 0.7rem;
    }
    &__Title {
      font-size: 1.3rem;
    }
  }
}
 .Social {
  &__List {
    display: flex;
  }
  &__Icon {
    font-size: 2.6rem;
    margin: 0 0.7rem;
    -webkit-filter: drop-shadow(5px 5px 5px #ccc);
        filter: drop-shadow(5px 5px 5px #ccc);
    & .facebook {
      color: #3b5998;
    }
    & .instagram {
      color: #bc2a8d;
    }
    & .twitter {
      color: #00acee;
    }
  }
}