nav {
  position: relative;
}
.NavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  background-color: #ffffff;
  -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
  width: 100%;
  top: 0;
  left: 0;
  padding: 0 4rem;
  z-index: 3;
  opacity: 0.9;
  &__Logo {
    & .Collins {
      font-size: 3rem;
      text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
        0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
    }
    & q {
      color: $color-primary;
      font-size: 1rem;
      letter-spacing: 0.6px;
    }
  }
  &__List {
    & ul {
      display: flex;
      align-items: center;
      list-style: none;
      cursor: pointer;
      
      & li {
        padding: 1rem;  
        border-radius: 2rem;
        background-color: #ffffff;
        transition: all 0.3s ease-in-out; 
        &:hover {
          // border-bottom: 2px solid $primary-color;
          background-color: $primary-color;
          color: #ffffff;
          padding:  1rem;
          transition: all 0.3s ease-in-out;
          border-radius: 2rem;
        }
        & span {
          font-size: 1.3rem;
          font-weight: 600;
          margin: 0 2rem;
        }
      }
    }
  }
}
