footer {
  background-color: #fafafa;
  left: 0;
  bottom: 0;
  width: 100%;
  & .Footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    padding: 4rem 1rem;
    & h2{
        margin-bottom: 1rem;
        font-size: 1.7rem;
    }
    &__Left {
        & .FooterSocial{
            margin-top: 1rem;
        }
    }
    &__Middle {
      & ul {
        list-style: none;
        & li {
          margin: 0.6rem 0;
          font-size: 1.3rem;
        //   font-weight: 500;
        }
      }
    }
    &__Right {
      & .Query {
        display: flex;
        flex-direction: column;
        & .Details {
          display: flex;
          align-items: center;
          margin: 0.6rem 0;
          & .Icon {
            font-size: 3rem;
            margin-right: 0.5rem;
            color: $primary-color;
          }
          & span {
            font-size: 1.3rem;
          }
        }
      }
    }
  }
}
