// COLOR VARIABLES
$color-primary: #00ae42;
// $color-primary-dark: #b28451;

// $color-secondary: #101d2c;

// $color-grey-light-1: #f9f7f6;
// $color-grey-light-2: #aaa;

// $color-grey-dark-1: #54483a;
// $color-grey-dark-2: #6d5d4b;

$primary-color: #00ae42;
$secondary-color: #ff8013;
// FONT VARIABLES
$font-primary: 'Poppins', sans-serif;
$font-secondary: 'Oswald', sans-serif;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px;
$bp-small: 37.5em; // 600px;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
  @media only screen and (max-width: $bp-small) {
    font-size: 50%;
  }
}
body {
  box-sizing: border-box;
  font-family: $font-primary;
}
a {
  text-decoration: none;
  color: #000;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
img {
  width: 100%;
  vertical-align: middle;
  transition: all 0.3s ease-in-out;
  backface-visibility: hidden;
  cursor: pointer;
  // &:hover {
  //   transform: scale(0.97);
  //   transition: all 0.3s ease-in-out;
  // }
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
   border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background-image: linear-gradient(
    45deg,
    hsl(114deg 61% 43%) 0%,
    hsl(116deg 58% 40%) 11%,
    hsl(117deg 56% 36%) 22%,
    hsl(119deg 54% 33%) 33%,
    hsl(120deg 52% 29%) 44%,
    hsl(121deg 51% 25%) 56%,
    hsl(122deg 49% 22%) 67%,
    hsl(123deg 47% 18%) 78%,
    hsl(123deg 43% 15%) 89%,
    hsl(123deg 39% 12%) 100%
  ); 
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
 opacity: .8 
}
//components
@import './Components/HeroSection/herosection';
@import './Components/NavBar/navbar';
@import './Components/TopHeader/topheader';
@import './Components//TestPreparation/testpreparation';
@import './Components//Services/services';
@import './Components/Footer/footer';
@import './Components//Testimonial/testimonial';
//pages
@import './Pages/LandingPage/landingPage';

//others
@import './Sass/typography';
@import './Components/Button/button';
@import './Animations/animation';
